.task
dist/
dist-dev/
dist-fe/

bin/
*.dmg
*.exe
.DS_Store
*~
out/
make/
artifacts/
internaldocs/
*.pack
*.pw
*.out

# Yarn Modern
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions


*storybook.log
storybook-static/

test-results.xml

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
